<head>
  <link rel='stylesheet' href='/home/css/output.css' />
  <link rel='shortcut icon' href='/media/img/favicon.ico' type='image/x-icon' />
</head>

<body class='bg-slate-200 w-[100vw] h-[100vh] relative'>
  {{>header}}
</body>