<head>
  <link rel='stylesheet' href='/css/output.css' />
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
</head>
<body class='bg-slate-200 w-[100vw] h-[100vh] relative'>
</body>