<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='/css/home.css' />
  <link rel='stylesheet' href='/css/output.css' />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <title>Home - Vinay Kishore</title>
</head>

<body class="w-[100vw] min-h-[100vh] flex flex-col justify-start box-border overflow-x-hidden relative">
  <section class="header sticky top-0">
    {{>header}}
  </section>

  <section
    class="hero--section bg-white w-[100vw] px-[50px] py-16 box-border flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold text-slate-500 text-center uppercase">Hey, I am</h2>
    <h1 class="text-[6rem] font-bold text-slate-800  text-center">VINAY KISHORE</h1>
    <h3 class="text-2xl font-bold text-slate-500 text-center">Student • Web Developer • Tech Enthusiast</h3>
    <a class="bg-slate-700 text-white text-xl px-6 py-2 my-6 font-semibold" href="#profile-section">Know more</a>
  </section>

  <section class="profile--section bg-white w-[100vw] px-[50px] py-16 box-border" id="profile-section">
    <img src="/img/profile-photo.webp" alt="" class="">
    <section class="px-10">
      <p class="text-lg text-slate-800 leading-8">
        Hey there, I'm <span class="font-bold">VINAY KISHORE,</span> 🥷
      </p>
      <p class="text-lg text-slate-800 leading-8">
        I'm a <span class="font-bold">Computer Science Student</span> and a part time
        <span class="font-bold">Web Developer.</span>
        <br> I come from the birth place of <span class="font-bold">Biryani 🌾</span> and the city of Nizams 🤴,
        <span class="font-bold">Hyderabad, India.</span>
        I seek for learning new technologies ⚙️ and build projects around them which solve real problems and make a
        difference in the world. I <span class="font-bold">design</span> and
        <span class="font-bold">develop</span> websites in my free time.
      </p>
      <p class="text-lg text-slate-800 leading-8">
        I also have little experience in <span class="font-bold">designing UI</span>
        with <span class="font-bold">Figma and Canva</span>
      </p>
      <article class="flex flex-wrap my-3">
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">HTML</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">CSS</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">JavaScript</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">SCSS</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">NodeJs</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">ExpressJs</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">SQL</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">MongoDB</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">Mongoose</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">GIT</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">GitHub</span>
        <span class="skill-badge font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3">Figma</span>
      </article>
    </section>
  </section>

  <section class="mt-auto">{{>footer}}</section>
  <script src='/js/app.js'></script>
</body>

</html>