<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/output.css' />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Home - Vinay Kishore</title>
  </head>
  <body class="w-[100vw] min-h-[100vh] bg-slate-200 flex flex-col justify-start">
    {{>header}}
    
    <section class="mt-auto">{{>footer}}</section>
    <script src='/js/app.js'></script>
  </body>
</html>