<footer class='bg-white font-sans font-semibold text-gray-800 border-t-2'>
  <div
    class='footer w-[100vw] h-[4rem] flex flex-row items-center justify-center'
  >
    <p class=''>Made with 💖 by&nbsp;</p>
    <a
      href='https://github.com/geekvinay'
      target='_blank'
      class='font-bold text-blue-700 underline underline-offset-1'
    >@geekvinay</a>

    {{! Links to various social handles }}
    {{! <section
      class='links-wrapper flex flex-row items-center justify-center '
    >
      <a href='' class="">
        <img src='/icons/mdi-dev-to.svg' class='h-9 opacity-70 px-1' alt='' />
      </a>
      <a href=''>
        <img src='/icons/mdi-github.svg' class='h-7 opacity-70 px-1' alt='' />
      </a>
      <a href=''>
        <img src='/icons/mdi-linkedin.svg' class='h-7 opacity-70 px-1' alt='' />
      </a>
      <a href=''>
        <img src='/icons/mdi-twitter.svg' class='h-7 opacity-70 px-1' alt='' />
      </a>
    <section/> }}
  </div>
</footer>