<head>
  <link rel='stylesheet' href='/css/output.css' />
  <style>
    img{ pointer-events: none; }
  </style>
</head>
<body>
  <nav class='bg-white font-sans font-bold text-gray-600'>
    <ul
      class='w-[100vw] h-[70px] list-none flex flex-row justify-end items-center px-[50px]'
    >
      <a href='/' class='mr-auto'><img
          src='/img/logo.svg'
          alt=''
          class='h-[30px] drop-shadow-xl'
        /></a>
      <a href='/'>
        <li class='px-[20px]'>HOME</li>
      </a>
      <a href='/about'>
        <li class='px-[20px]'>ABOUT</li>
      </a>
      <a href='/project'>
        <li class='px-[20px]'>PROJECTS</li>
      </a>
      <a href='/blog'>
        <li class='px-[20px]'>BLOGS</li>
      </a>
      <a href='/contact'>
        <li class='px-[20px]'>CONTACT</li>
      </a>
    </ul>
  </nav>
</body>