<head>
  <link rel='stylesheet' href='/css/output.css' />
  <style>
    img{ pointer-events: none; }
  </style>
</head>
<body>
  <nav
    class='bg-white text-base font-sans font-bold text-gray-600 sticky top-0 right-0 shadow-md'
  >
    <ul
      class='w-[100vw] h-[70px] list-none flex flex-row justify-end items-center px-[50px]'
    >
      <a href='/' class='mr-auto'><img
          src='/img/logo.svg'
          alt=''
          class='h-[30px] drop-shadow-xl'
        /></a>
      <a href='/' class='px-4'>
        <li>HOME</li>
      </a>
      <a href='/about' class='px-4'>
        <li>ABOUT</li>
      </a>
      <a href='/project' class='px-4'>
        <li>WORKS</li>
      </a>
      <a href='/blog' class='px-4'>
        <li>BLOGS</li>
      </a>
      <a href='/contact' class='px-4'>
        <li>CONTACT</li>
      </a>
    </ul>
  </nav>
</body>