<section
    class='links-wrapper bg-white h-[50px] w-auto bottom-0 right-0 flex flex-row items-center justify-center px-5 py-2 pr-[50px] shadow-xl'>
    <a href='' class="">
        <img src='/media/icons/mdi-dev-to.svg' class='h-9 opacity-70 px-2' alt='' />
    </a>
    <a href=''>
        <img src='/media/icons/mdi-github.svg' class='h-7 opacity-70 px-2' alt='' />
    </a>
    <a href=''>
        <img src='/media/icons/mdi-linkedin.svg' class='h-7 opacity-70 px-2' alt='' />
    </a>
    <a href=''>
        <img src='/media/icons/mdi-twitter.svg' class='h-7 opacity-70 px-2' alt='' />
    </a>
    <section />