@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section.profile--section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    @apply mx-8;    
}

section.profile--section > span.skill-badge:hover{
    @apply bg-gray-600 text-white;
}

span.skill-badge{
    @apply font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3;
}

/* ############################################################################################# */
/* ###################################      Components     ##################################### */
/* ############################################################################################# */


/* 1 => Blog Article */

article.blog--article{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 200px;
    gap: 1rem;
    @apply w-[100%] px-4 py-4 mt-8 border-2 border-gray-300;
}

article.blog--article img{
    @apply h-[100%] w-[100%] object-cover;
}

article.blog--article div.right--section{
    @apply flex flex-col justify-center items-start;
}

article.blog--article h3.blog-heading{
    @apply text-2xl font-semibold text-slate-700;
    white-space: nowrap;
    overflow: hidden;
    width: 50vw;
    text-overflow: ellipsis;
}

article.blog--article p.description{
    @apply text-lg text-slate-600 ;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    background:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.blog--article div.blog-details{
    @apply py-2 font-semibold text-slate-500 flex;
}

article.blog--article > p.date{
    @apply pr-8;
}

article.blog--article > h4.sub-heading{
    @apply font-bold;
}
