@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section.profile--section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    @apply mx-8;    
}

section.profile--section > span.skill-badge:hover{
    @apply bg-gray-600 text-white;
}

span.skill-badge{
    @apply font-semibold border-2 border-gray-600 py-1 px-3 my-1 mr-3;
}

/* ############################################################################################# */
/* ###################################      Buttons        ##################################### */
/* ############################################################################################# */

div.btn--wrapper{
    @apply w-[100%] pt-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

a.btn--primary{
    text-align: center;
    @apply px-4 py-1 border-2 border-gray-600 text-xl font-semibold;
    @apply text-white bg-gray-600;
}

a.btn--primary:hover{
    @apply  bg-gray-700;
    transition: all ease-in-out 300ms;
}


/* ############################################################################################# */
/* ###################################      Components     ##################################### */
/* ############################################################################################# */


/* 1 => Blog Article */

article.blog--article{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 200px;
    gap: 1rem;
    @apply w-[100%] px-4 py-4 mt-8 border-2 border-gray-300;
}

article.blog--article img{
    @apply h-[100%] w-[100%] object-cover;
}

article.blog--article div.right--section{
    @apply flex flex-col justify-center items-start;
}

article.blog--article h3.blog-heading{
    @apply text-2xl font-semibold text-slate-700;
    white-space: nowrap;
    overflow: hidden;
    width: 50vw;
    text-overflow: ellipsis;
}

article.blog--article p.description{
    @apply text-lg text-slate-600 ;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    background:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.blog--article div.blog-details{
    @apply py-2 font-semibold text-slate-500 flex;
}

article.blog--article > p.date{
    @apply pr-8;
}

article.blog--article > h4.sub-heading{
    @apply font-bold;
}


/* 1 => Project Article */
section.project--section{
    display: flex;
    flex-direction: column;
    @apply bg-white w-[100vw] px-[50px] py-16 box-border flex flex-col;
}

section.project--wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    @apply py-7;
}

article.project--item{
    @apply w-[100%] h-fit px-4 py-4 border-2 border-gray-300;
}

article.project--item img{
    @apply h-[200px] w-[100%] object-cover;
}

article.project--item h3.project--heading{
    @apply text-2xl font-semibold text-slate-700;
    white-space: nowrap;
    overflow: hidden;
    width: 40vw;
    text-overflow: ellipsis;
}

article.project--item p.description{
    @apply text-lg text-slate-600 ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

article.project--item div.project--details{
    @apply py-2 font-semibold text-slate-500 flex;
}

article.project--item > p.date{
    @apply pr-8;
}

